@charset "utf-8";

@media screen and (min-width: 768px) {
    #icon {
        display: none;
    } 
    
    menu > a {
        display: block;
        display: inline;
        margin-left: 5px;
    }

    menu {
        background: none;
        display: inline-block;
        margin-top: 34px;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}